body{
    font-family: 'Roboto';
    font-size: 14px;
    color: #505050;
    background-color: #eeeeee;
}

.navbar-default {
    background-color: transparent;
    margin: 0px;
    border: 0px;
    padding: 16px;
    /*-webkit-box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2);*/
}

.navbar-default .navbar-nav > li > a {
    color: #454545;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #5C6BC0;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #5C6BC0;
    background-color: transparent;
}

.navbar-brand {
    width: 188px;
    height: 84px;
    padding: 0px;
    /*background-image: url('../img/logo.jpg');
    background-position-y: 100%;
    background-position-x: 100%;
    background-size: cover;*/
}

nav.navbar.shrink {
    background-color: white;
    transition: all 0.4s ease;
    -webkit-box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2);
}

.navbar-default.shrink  {
    padding: 2px;
}

.navbar-default.shrink .navbar-brand{
    display: none;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.banner {
    background-image: url('../img/bg.jpeg');
    background-size: cover;
   /* background-position: 50% 100%;*/
    background-repeat: no-repeat;
    min-height: 480px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    border-bottom: 1px solid #f3f3f3;
}

.banner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
}

.banner .container {
    z-index: 3;
    position: relative;
}

.banner .container h1{
    margin-top: 40px;
    font-weight: 400;
    font-size: 32px;

}

.banner .container p.subtitle{
    margin: 10px 0px 20px 0px;
    font-size: 18px;
    font-weight: 400;
}

.section {
    padding: 20px 0px;
    margin: 0px 40px;
    background-color: white;
}

.section-title {
    padding: 20px;
    padding-top: 76px;
    margin-top: -56px;
}

.section-title span {
    font-size: 20px;
}

.section-content{
    margin: 50px 0px 20px 0px;
}

.section.gray {
    background-color: #fafafa;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}

.service {
    margin-top: 50px;
}

.service-icon {
    position: absolute;
    top: 50px;
    left: 30px;
    font-size: 24px;
    color: #3F51B5;
}

.service-content {
    margin-left: 60px;
}

.service-title {
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0px;
    color: #303030;
    text-transform: uppercase;
}

.client{
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #f1f1f1;
    height: 100px;
    width: 150px;
    margin: 10px 10px;
    padding: 4px;
    background-origin: content-box;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.client.magnit{
    background-image: url('http://vse-zadarma.ru/%D0%BB%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF_%D0%BC%D0%B0%D0%B3%D0%BD%D0%B8%D1%82.png');
}

.client.mama{
    background-image: url('https://mamaplusme.ru/bitrix/templates/elektro_light/images/logo.png');
}

.client.pavlovo{
    background-image: url('http://xn----7sbabha0dcae7afdxk0b8dth.xn--p1ai/data/objects/4/images/logo_Pavlovskaya_Kurochka.jpg');
}

.client.sushinka{
    background-image: url('http://www.sushinka.com/upload/medialibrary/a64/a64d559cf1b36d17b04ff6548351106e.png');
}

.client.newage {
    background-image: url('http://www.newvek-nn.ru/uploads/theme/images/header-logo.png');
}

.client.prostor {
    background-image: url('https://www.ptl.ru/img/logo.png');
}

.client.oblgaz {
    background-image: url('http://oblgaz-meters.ru/images/logo.png');
}

.client.dianetika {
    background-image: url('https://www.dianeticsbook.ru/wp-content/uploads/2016/02/logo.png');
    background-color: rgba(220,48,32,0.95);
}

.client.mnogomebeli {
    background-image: url('http://mnogomebeli.com/images/template/logo2.png');
}

.client.okna{
    background-image: url('http://okna-win.ru/images/logo.png');
}

.client.mediamarkt {
    background-image: url('https://nizhniy-novgorod.mediamarkt.ru/assets/css/images/header_logo-new.svg');
}

.client.taganka {
    background-image: url('http://cs307904.vk.me/v307904674/5c45/maNJXBTlG2w.jpg');
    background-color: #FFED00;
}

.client.rocky{
    background-image: url('http://rockyclub.ru/assets/rockytpl/img/logo2.png');
}

.step {
    display: inline-block;
    text-align: center;
    margin: 0px 15px;
}

.step-icon{
    background-color: white;
    color: #3949AB;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    line-height: 48px;
    font-size: 24px;
    margin: 0 auto;
}

.step-text{
    margin-top: 5px;
}

button{
    color: #fff !important;
    background-color: #5C6BC0 !important;
    border-color: #3949AB !important;
}

footer {
    background-color: #2a2730;
    padding: 30px;
    color:#99979c;
}